.background{
    background-color: #F5FBEF;
}

.topBar{
    background-color: #2E4057;
    overflow: hidden;
}

.topBar a{
    color: white;
    float: left;
    font-family: "Verdana";
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.topBar a:hover{
    background-color: #92ad94;
    color: black;
}

.topBar a.active{
    background-color: #7EA2AA;
    color:white;
}

/* -- Bottom Info -- */
.bottomInfo{
    background-color: #083d77;
    color: #DAE1DA;
    font-family: "Verdana";
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

/* -- Home Page -- */
.homeIntro{
    color: #000033;
    font-family: "Verdana";
    font-size: 32px;
    margin: auto;
    text-align: left;
    width: 90%;
}

/* -- Resume Page -- */
/* resumeMPic is for the main picture holding my face.*/
.resumeMPic{
    border-radius: 50%; 
    display: block;
    margin: auto;
}

/* resumeName is for the name of the person on the resume, listed at the top. */
.resumeName{
    block-size: 60px;
    color: #000033;
    margin: auto;
    font-family: "Verdana";
    font-size: 42px;
    text-align: center;
    vertical-align: middle;
    width: 60%;
}

/* resumeDescription is for the intro paragraph and follows experience titles. */
.resumeDescription{
    color: #000033;
    font-family: "Verdana";
    font-style: italic;
}

/* resumeHeader is for the title of the start of a new section. */
.resumeHeader{
    margin: auto;
    width: 60%;
    font-family: "Verdana";
    font-size: 11px;
    color: #4169e1;
    text-align: center;
}

/* resumeSection is used to create a new section in the resume (by type of experience). */
.resumeSection{
    color: #000033;
    margin: auto;
    width: 60%;
    font-family: "Verdana";
}