img {
    display: block;
    margin: auto;
}

/*h1: The title with my name in it.*/
h1{
    font-family: "Merriweather";
    font-weight: bold;
    text-align: center
}

/*resumeDescription is for the intro paragraph and follows experience titles.*/
.resumeDescription{
    margin: auto;
    width: 60%;
    font-family: "Open Sans";
    font-style: italic;
}

/*resumeHeader is for the title of the start of a new section.*/
.resumeHeader{
    margin: auto;
    width: 60%;
    font-family: "Open Sans";
    font-size: 11px;
    color: #4169e1;
    text-align: center;
}

/*resumeSection is used to create a new section in the resume (by type of experience).*/
.resumeSection{
    margin: auto;
    width: 60%;
    font-family: "Open Sans";
}

