/* General */
html {
  scroll-behavior: smooth;
}

body{
	background-image: url("images/seattle.jpg");
	font-family: "Bitter", "Montserrat", "Times";
}
/* End General */

/* Navigation Bar */
ul{
	list-style-type: none;
	margin: 0;
	padding-left: 20%;
	padding-right: 20%;
	overflow: hidden;
}

li{
	font-size: 20px;
	font-weight: 950;
	float: right;
	display: inline;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	color: #e6e49f;
}
/* End Navigation Bar */


h1{
	color: white;
	font-size: 72px;
	text-align: center;
}

h2{
	color: black;
	font-size: 40px;
	text-align: center;
}

footer{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: black;
	color: white;
	text-align: center;
}

/* Classes */
.coverPhoto{
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	height = 400px;
	width = 400px;
	border-radius: 50%;
	border: 5px solid black;
}

.gap{
	padding-top: 160px;
}

.shadeGap{
	padding-bottom: 40px;
	color: black;
}

.subtext{
	font-size: 36px;
}

.contentSection{
	display: block;
	font-size: 24px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 30%;
	padding-right: 30%;
	text-align: center;
	left: 0;
	right: 0;
}